<template>
  <label class="block relative">
    <span class="text-gray-700 font-medium">{{label}}</span>
    <input v-bind:value="value" v-on:input="change($event.target.value)" :type="type" :placeholder="placeholder" :step="step"
      :readonly="readonly" @keyup.enter="$emit('enter', true)" :class="{'bg-primary-lighten-2 focus:shadow': !readonly, 'bg-gray-200': readonly}"
      class="mt-1 px-3 py-2 block w-full rounded-md border border-transparent focus:outline-none">
    <ul :class="show ? 'block' : 'hidden'" class="absolute top-full">
      <li v-for="(opt, i) in options" :key="'opt-'+i" @click="change(opt.value)" class="bg-gray-200"
        :class="{'border-transparent rounded-br-md rounded-bl-md': i === (options.length -1)}">{{opt.text}}</li>
    </ul>
  </label>
</template>

<script>
export default {
  props: {
    label: {type: String, default: ''},
    options: {type: Array, default: () => []},
    placeholder: {type: String, default: ''},
    value: {type: undefined, default: '', required: true},
    readonly: {type: Boolean, default: false},
    step: {type: Number, default: 1},
    type: {type: String, default: 'text'},
  },
  data () {
    return {
      localValue: this.value,
      show: this.options.length !== 0
    }
  },
  watch: {
    options(){
      this.show = this.options.length !== 0
    }
  },
  methods:{
    change(v){
      this.$emit('input', v)
      this.$emit('changed', true)
    }
  }
}
</script>

<style lang="scss" scoped>
input{
  font-size: 16px;
}
</style>