<template>
  <div class="relative">
    <div class="grid grid-flow-col auto-cols-max justify-end gap-3">
      <Button @click="oportunidadesDel" v-show="selectRows.length > 0">Eliminar ({{selectRows.length}})</Button>
      <Button @click="toggleMap">{{map ? 'Cerrar' : 'Ver'}} mapa</Button>
      <Button @click="toggleFilter">Filtrar</Button>
      <Button @click="tableExport">Descargar Excel</Button>
      <Button @click="$router.push({name: 'oportunidad-nueva'})">Añadir oportunidad</Button>
    </div>
    <transition name="fade">
      <div class="w-full grid grid-cols-3 gap-3 bg-gray-200 p-3 rounded-md mt-5" v-show="filter">
        <FormTextField v-model="filtros.direccion" label="Dirección" @enter="oportunidadesFilter"/>
        <FormSelect v-model="filtros.clasificacion" :items="clasificaciones" label="Clasificación" />
        <FormSelect v-model="filtros.zona" :items="zonas" label="Zona Pensaer" />
        <FormSelect v-model="filtros.tipo_lote" :items="tiposLote" label="Tipo lote" />
        <FormTextField v-model="filtros.ancho_lote_inferior" label="Ancho lote inferior" @enter="oportunidadesFilter" type="number" />
        <FormTextField v-model="filtros.ancho_lote_superior" label="Ancho lote superior" @enter="oportunidadesFilter" type="number" />
        <FormTextField v-model="filtros.profundidad_lote_inferior" label="Profundidad lote inferior" @enter="oportunidadesFilter" type="number" />
        <FormTextField v-model="filtros.profundidad_lote_superior" label="Profundidad lote superior" @enter="oportunidadesFilter" type="number" />
        <FormSelect v-model="filtros.potencial" :items="potenciales" label="Potencial" />
        <FormTextField v-model="filtros.metros_2_lote_inferior" label="Metros cuadrados lote inferior" @enter="oportunidadesFilter" type="number" />
        <FormTextField v-model="filtros.metros_2_lote_superior" label="Metros cuadrados lote superior" @enter="oportunidadesFilter" type="number" />
        <Button @click="oportunidadesFilter" :loading="oportunidadesLoading" class="self-end w-full mr-3">Aplicar</Button>
      </div>
    </transition>
    <transition>
      <GMap ref="gMap" :center="center" :zoom="12" :key="dummy+'-ops-'+oportunidades.length" class="w-100 rounded-lg mt-5" v-show="map">
        <template v-for="o, i in oportunidades">
          <GMapMarker :key="'marker-'+i+'-dummy-'+dummy" :position="$coordsParse(o.georreferencia)" v-if="$coordsParse(o.georreferencia) !== ''">
            <GMapInfoWindow :options="{maxWidth: 200}">
              <p class="font-medium text-center">{{o.direccion}}</p>
            </GMapInfoWindow>
          </GMapMarker>
        </template>
      </GMap>
    </transition>
    <DataTable v-model="selectRows" :items="oportunidades" :headers="headers" class="mt-5"
      :loading="oportunidadesLoading" selectable item-key="id_oportunidad" >
      <template v-slot:actions="{item}">
        <Tooltip text="Ver oportunidad">
          <NuxtLink :to="{name: 'oportunidad-id_oportunidad', params: {id_oportunidad: item.id_oportunidad}}" class="inline-block">
            <mdi-eye-outline :size="18"/></NuxtLink>
        </Tooltip>
        <Tooltip text="Ver hitos">
          <div class="cursor-pointer inline-block" @click="hitoSee(item.id_oportunidad)">
              <mdi-timeline-text-outline :size="18" class="inline-block"/></div>
        </Tooltip>
        <Tooltip text="Ver contactos">
          <NuxtLink :to="{name: 'oportunidad-id_oportunidad-contactos', params: {id_oportunidad: item.id_oportunidad}}" class="inline-block">
              <mdi-contacts-outline :size="18" class="inline-block"/></NuxtLink>
        </Tooltip>
      </template>
    </DataTable>
    <Overlay v-model="hito">
      <Timeline :hitos="hitos" :loading="hitoLoading"/>
    </Overlay>
    
  </div>
</template>

<script>
import { saveAs } from 'file-saver';

import Hito from '~/mixins/hito.js'
import Google from '~/mixins/google.js'
import Oportunidad from '~/mixins/oportunidad.js'
import Tabla from '~/mixins/table.js'

function s2ab(s) {
  if(typeof ArrayBuffer !== 'undefined') {
    var buf = new ArrayBuffer(s.length);
    var view = new Uint8Array(buf);
    for (var i=0; i!=s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
    return buf;
  } else {
    var buf = new Array(s.length);
    for (var i=0; i!=s.length; ++i) buf[i] = s.charCodeAt(i) & 0xFF;
    return buf;
  }
}
function toColumnName(num) {
  for (var ret = '', a = 1, b = 26; (num -= a) >= 0; a = b, b *= 26) {
    ret = String.fromCharCode(parseInt((num % b) / a) + 65) + ret;
  }
  return ret;
}

export default {
  name: 'Oportunidades',
  mixins: [Hito, Google, Oportunidad, Tabla],
  head() {
    return {
      script: [
        {
          src: '/resources/xlsx.core.min.js'
        }
      ],
    }
  },
  data () {
    return {
      // Lists
      clasificaciones: [],
      potenciales: [],
      tiposLote: [],
      zonas: [],
      // ** Lists
      center: {lat: -32.94807525, lng: -60.67175435263},
      dummy: -1,
      filter: false,
      filtros: {
        direccion: '',
        clasificacion: -1,
        zona: -1,
        tipo_lote: -1,
        ancho_lote_inferior: 0,
        ancho_lote_superior: 999,
        profundidad_lote_inferior: 0,
        profundidad_lote_superior: 999,
        metros_2_lote_inferior: 0,
        metros_2_lote_superior: 999999,
        potencial: -1
      },
      headers: [{
        text: '',
        align: 'left',
        value: 'id_numerico',
        neat: true
      },{
        text: 'Dirección',
        align: 'left',
        value: 'direccion',
      }, {
        text: 'Clasificación',

        value: 'clasificacion_desc'
      },{
        text: 'Ancho lote',

        value: 'ancho_lote'
      },{
        text: 'Largo lote',

        value: 'profundidad_lote'
      },{
        text: 'Altura permitida',
        align: 'left',
        value: 'altura_permitida'
      },{
        text: 'Potencialidad',

        value: 'potencial_desc'
      }, {
        text: 'Acciones',
        align: 'right',
        value: 'actions'
      }],
      headersExport: [],
      hito: false,
      hitoLoading: false,
      hitos: [],
      map: false,
      oportunidades: [],
      oportunidadesLoading: false,
      selectRows: []
    }
  },
  computed: {
    prod(){
      return process.env.NODE_ENV !== 'development'
    }
  },
  watch:{
    'filtros.clasificacion': function(){this.oportunidadesFilter()},
    'filtros.zona': function(){this.oportunidadesFilter()},
    'filtros.tipo_lote': function(){this.oportunidadesFilter()},
    'filtros.potencial': function(){this.oportunidadesFilter()},
    'map': function(m){
      if(m){
        this.addMapLayer()
      }
    }
  },
  methods: {
    async hitoSee(id){
      this.hitos = []
      this.hito = true
      this.hitoLoading = true
      try {
        this.hitos = await this.hitosGet({id})
      } catch (error) {
        console.log(error);
      }finally{
        this.hitoLoading = false
      }
    },
    toggleFilter(){
      this.map = false
      this.filter = !this.filter
    },
    toggleMap(){
      this.filter = false
      this.map = !this.map
    },
    oportunidadesDel(){
      if(confirm('¿Está seguro que desea eliminar '+this.selectRows.length+' oportunidades?')){
        this.oportunidadesDelete(this.selectRows)
        .then(() => {
          this.oportunidades = this.oportunidades.filter(o =>
            !this.selectRows.includes(o.id_oportunidad)
            //typeof this.selectRows.find(s => s === o.id_oportunidad) === 'undefined'
          )
          this.selectRows = []
          this.dummy++
        })
      }
    },
    async oportunidadesFilter(){
      this.oportunidades = []
      this.oportunidadesLoading = true
      this.oportunidades = await this.oportunidadesGet(this.filtros).finally(() => {this.oportunidadesLoading = false;this.dummy++})
    },
    tableExport(){
      var wb = {
        SheetNames: [ "Oportunidades" ],
        Sheets: {
          "Oportunidades": {} // Here we'll be the cells
        }
      }
      let cells = {}
      let nFormat = ['ancho_lote', 'profundidad_lote', 'altura_permitida', 'metros_2_lote']
      this.oportunidades.forEach((r, i) => {
        this.headersExport.forEach((c, j) => {
          if(i === 0) //First row
            cells[toColumnName(j+1)+'1'] = {v: c.text, s: {font: {bold: true}},"t": "s" } //First row header txt
          
          cells[toColumnName(j+1)+(i+2)] = {}
          if(typeof r[c.value] !== 'undefined' && r[c.value] !== null) // Column value 'actions' i.e. //+2 due to headers
            cells[toColumnName(j+1)+(i+2)] = Object.assign({}, {
              v: nFormat.includes(c.value) ? parseFloat(r[c.value]) : r[c.value],
              t: (typeof r[c.value] === 'string' && !nFormat.includes(c.value)) ? 's': 'n',
              z: nFormat.includes(c.value) ? '#,##0.00' : ''}) //set value
          else
            cells[toColumnName(j+1)+(i+2)] = Object.assign({}, {v: '', t: 's'})
        })
      })
      wb.Sheets.Oportunidades = Object.assign({}, cells)
      wb.Sheets.Oportunidades['!ref']= "A1:"+toColumnName(this.headersExport.length)+(this.oportunidades.length+1)
      
      var wbout = XLSX.write(wb, {bookType:'xlsx', bookSST:true, type: 'binary'});
      var today = new Date();
      var fname = today.getFullYear()+'_'+(today.getMonth() + 1)+'_'+today.getDate()+'-'+today.getHours()+'_'+today.getMinutes()+'.xlsx';
      try {
        saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), fname);
      } catch(e) { if(typeof console != 'undefined') console.log(e, wbout); }
      return wbout;
    },
    async tableSetter(key, table, padre){
      try{
        this[key] = await this.tableGet({tipo: table, padre: padre})
      } catch (e){
        console.log(e);
      }
    }
  },
  async created(){
    this.oportunidadesLoading = true
    try{
      this.oportunidades = await this.oportunidadesGet()
      this.headersExport = Object.keys(this.oportunidades[0]).map(hKey => { return {text: hKey.replace(/_/g, ' ').replace(/\b\w/g, l => l.toUpperCase()), value: hKey} })
    } catch (e){
      console.log(e);
    } finally{
      this.oportunidadesLoading = false
      this.dummy++
    }
  },
  mounted(){
    this.tableSetter('clasificaciones', 1)
    this.tableSetter('zonas', 2)
    this.tableSetter('tiposLote', 5)
    this.tableSetter('potenciales', 6)
  }
}
</script>

<style>

</style>